﻿:root {
    --bckgColor: #EEEEEE;
    --lineChartBckg: #FFA07A;
    --timeBckg: #F08080;
    --dayBckg: #90EE90;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* LAYOUT SETUP */
.wrapper {
    display: block;
    width: 80rem;
    margin: 1rem auto;
}

header {
    background-color: var(--bckgColor);
    border-radius: 1rem;
    margin: 0 2rem;
    padding: 1rem;
}

h1 {
    font-weight: 800;
}

section {
    background-color: var(--bckgColor);
    border-radius: 1rem;
    margin: 1rem 2rem;
    padding: 1rem;
}

/* WEATHER DISPLAY SECTION */

table {
    margin-top: 2rem;
    border-spacing: 0.5rem;
}

td, th {
    width: 8rem;
    height: 8rem;
}

tr > th {
    background-color: var(--dayBckg);
    padding: 0 10px;

}

#times > th {
    background-color: var(--timeBckg);
}

td {
    background-color: #ADD8E6;
    text-align: center;
    justify-content: center;
}

#blankCell {
    visibility: hidden;
}

p {
    margin:0;
}


h4, h6 {
    margin:0;
}

/* LINE CHART SECTION STARTS HERE */
canvas {
    background-color: var(--lineChartBckg);
    /*width: 90%;*/
    /*height: 30rem;*/
}
